<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1>Create Event</h1>

<!--<header th:replace="fragments :: header"></header>-->

<form method="post">
    <div class="form-group">
<!--        <input type="text" -->
        <label>Name
            <input type="text" name="name" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Description
            <input type="text" name="description" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-success">
    </div>
</form>

</body>
</html>